* {
    margin: 0;
    padding: 0;
}

.nav {
    height: 79px;
    background-color: white;
}

.nav ul {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;

}

.nav ul li {
    color: white;
    background-color: #CD1818;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    top: 5px !important;
    display: inline;
}
.nav a{
    top: 5px !important;
    text-decoration: none;
    color: white;
    display: inline;
    text-align: center;
}
li a:hover{
    color: #fedede; 
}