@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');


* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Fruktur', cursive;
    src: url(sansation_bold.woff);
}

h1 {
    font-family: 'Fruktur', cursive;
    font-size: 100px;
    text-shadow: 2px 2px #d6ccc2, 4px 4px #bde0fe, 6px 6px #ffc8dd, 8px 8px #cdb4db, 10px 10px #eef7d5;
    color: #ffc8dd;
    text-align: center;
}
h2{
    font-family: 'Fruktur', cursive;
    font-size: 100px;
    text-shadow: 2px 2px 3px #d6ccc2, 4px 4px 3px #bde0fe, 6px 6px 3px #ffc8dd, 8px 8px 3px #cdb4db, 10px 10px 3px #eef7d5;
    color: #ffc8dd;
    text-align: center;
}
h3{
    font-family: 'Fruktur', cursive;
    font-size: 100px;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff, -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff, -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff, 
    2px 2px #d6ccc2, 4px 4px #bde0fe, 6px 6px #ffc8dd, 8px 8px #cdb4db, 10px 10px #eef7d5;
    color: #afd8e0;
    text-align: center;
}
