*{
    margin: 0;
    padding: 0;
}
.line{
    height: 10px;
    width: 1500px;
    background-color: aqua;
    animation: animate 2s  infinite  linear ;
    border-radius: 25px;
    margin-top: 10px;
}
@keyframes animate {
    0%{
        height: 1px;
        width: 150px;
        background-color: #cdb4db;
    }
    10%{
        width: 200px;
        height: 2px;
        background-color: #ffc8dd;
    }
    20%{
        width: 350px;
        height: 3px;
        background-color: #bde0fe;
    }
    30%{
        width: 500px;
        height: 4px;
        background-color: #d5bdaf;
    }
    40%{
        height: 5px;
        width: 650px;
        background-color: #fdf0d5;
    }
    50%{
        width: 700px;
        height: 5px;
        background-color: #457b9d;
    }
    60%{
        height: 4px;
        width: 850px;
        background-color: #f4978e;
    }
    70%{
        height: 3px;
        width: 900px;
        background-color: #80ed99;
    }
    80%{
        height: 2px;
        width: 950px;
        background-color: #c9ada7;
    }
    100%{
        height: 1px;
        width: 1300px;
        background-color: #e8e8e4;
    }

}
