* {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    height: 500px;
    width: 500px;
    position: relative;
    margin: 50px;

}

.loading {
    height: 100px;
    width: 100px;
    border: transparent;
    position: absolute;
    border-radius: 50%;
    border-top: 4px dotted rgb(216, 81, 216);
    animation: animate 2s linear infinite;

}

.loading::before {
    content: '';
    top: 30px;
    left: 95px;
    height: 10px;
    width: 10px;
    background: rgb(216, 81, 216);
    position: absolute;
    border-radius: 100%;
    border: 2px solid rgb(216, 81, 216);
    box-shadow: 0 0 0 5px rgba(216, 81, 216, 0.626), 0 0 0 15px rgba(216, 81, 216, 0.511), 0 0 0 20px rgba(216, 81, 216, 0.116);

}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.load-text {
    padding-top: 120px;
    font-family: monospace;
    letter-spacing: 5px;
    color: white;
}