*{
    margin-left: 1rem;
    padding: 0;
    background-color: #1F2022;
    color: #f8f8f8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 25px;
 
}
.sales_insight_heading{
    text-align: center;
    padding-top: 5rem;
    width: 75%;
    line-height: 3rem;
}
hr{
    width: 75%;
}
.insight_ques{
    text-align: left;
    padding-top: 1rem;
    padding-top: 1rem;
    width: 75%;
}
.insights_desc{
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 75%;
    line-height: 25px
}
li{
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 75%;
    line-height: 25px
}
.insight_process{ 
    padding-bottom: 1rem;
    width: 75%;
    padding-top: 1rem;
}
.insight_process_para{
    padding-bottom: 2rem;
    width: 75%;
    line-height: 25px;
}
.overview_table{
    margin-left: 0;
    width: 75%;
}
table{
    padding-top: 2rem;
    width: 75%;
}
.insight_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.overview{
    margin-left: 0;
    padding-bottom: 3rem;
    width: 70%;
}
.insight_overview{
    /* font-weight: 600; */
    padding-bottom: 0.5rem;
    text-decoration: underline;
    width: 70%;
}
.insight_overview li{
    font-weight: 100;
}
.insight_table  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.insight_overview li{
    list-style-type: none;
    width: 70%;
}
.cleaning{
    margin-left: 0;
}
.insight_cleaning{
    padding-top: 2rem;
    text-decoration: underline;
}
.cleaning p{
    margin-top: 2rem;
    line-height: 25px;
    width: 75%;
    padding-bottom: 1rem;
}
.sales_cleaning_img{
    position: relative;
    margin-left: 0;
}
.sales_cleaning_img img{
    position: relative;
    width: 70%;
}
.datecleaning_img{
    margin-bottom: 3rem;
}
.Visualization{
    margin-left: 0;
}
.Visualization h4{
    text-decoration: underline;
}
.sales_dax_queries{
    margin-left: 0;
}
.sales_dax_queries h4{
    text-decoration: underline;
}
.salesforecasting{
    margin-left: 0;
}
.salesforecast{
    text-decoration: underline;
}
.table_dax{
    margin-left: 0;
}
.sales_table_dax{
    text-decoration: underline;
}
.sales_insights{
    margin-left: 0;
}
.sales_data_insights{
    text-decoration: underline;
}
.learning{
    margin-left: 0;
}
.sales_learning{
    text-decoration: underline;
}
.btn{
    margin-top: 60px;
}
.btn .btn-in{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    border: 2px white solid;
    border-radius: 35px;
}
.btn .btn-in:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}