*{
    margin: 0;
    padding: 0;
}
.section-gradient{
    height: 200px;
    width: 500px;
    background-image: linear-gradient(#f9c58d, #f492f0);
    border-radius: 25px;
    position: absolute;
    top: 25%;
    left: 30%;
    right: 40%;
    clear: both;
}
#text{
    color: white;
    font-size: 40px;
    padding-left: 20px;
    font-family: 'Croissant One', cursive;
}
p{
    color: white;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    word-wrap: break-word;
    width: 300px;
    padding-left: 20px;
    padding-top: 10px;
}
#image img{
   height: 200px;
   border-radius: 25px;
   width: 190px;
   margin-top: -130px;
   margin-left: 350px;
}